@font-face {
  font-display: swap;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/fira-code-v21-latin-300.eot");
  src: url("../fonts/fira-code-v21-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/fira-code-v21-latin-300.woff2") format("woff2"), url("../fonts/fira-code-v21-latin-300.woff") format("woff"), url("../fonts/fira-code-v21-latin-300.ttf") format("truetype"), url("../fonts/fira-code-v21-latin-300.svg#FiraCode") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fira-code-v21-latin-regular.eot");
  src: url("../fonts/fira-code-v21-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/fira-code-v21-latin-regular.woff2") format("woff2"), url("../fonts/fira-code-v21-latin-regular.woff") format("woff"), url("../fonts/fira-code-v21-latin-regular.ttf") format("truetype"), url("../fonts/fira-code-v21-latin-regular.svg#FiraCode") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fira-code-v21-latin-700.eot");
  src: url("../fonts/fira-code-v21-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/fira-code-v21-latin-700.woff2") format("woff2"), url("../fonts/fira-code-v21-latin-700.woff") format("woff"), url("../fonts/fira-code-v21-latin-700.ttf") format("truetype"), url("../fonts/fira-code-v21-latin-700.svg#FiraCode") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.eot");
  src: url("../fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin-regular.woff") format("woff"), url("../fonts/inter-v12-latin-regular.ttf") format("truetype"), url("../fonts/inter-v12-latin-regular.svg#Inter") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin-600.eot");
  src: url("../fonts/inter-v12-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-600.woff2") format("woff2"), url("../fonts/inter-v12-latin-600.woff") format("woff"), url("../fonts/inter-v12-latin-600.ttf") format("truetype"), url("../fonts/inter-v12-latin-600.svg#Inter") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v12-latin-800.eot");
  src: url("../fonts/inter-v12-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-800.woff2") format("woff2"), url("../fonts/inter-v12-latin-800.woff") format("woff"), url("../fonts/inter-v12-latin-800.ttf") format("truetype"), url("../fonts/inter-v12-latin-800.svg#Inter") format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 568px) {
  * {
    font-size: 15px;
  }
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter";
  overflow-x: hidden;
  max-width: 100%;
}

main {
  display: block;
  overflow-x: hidden;
}

:after,
:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Code", sans-serif;
}

a {
  outline: 0 !important;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}
a span {
  color: inherit;
}
a.o-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #ef6048;
  color: white;
  border: 0;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Inter";
  font-size: 17px;
  border-radius: 6px;
  text-align: center;
  letter-spacing: 1px;
}
a.o-btn.sm-btn {
  max-width: 160px;
}
a.o-btn.lg-btn {
  min-width: 300px;
  max-width: 320px;
}
@media (max-width: 568px) {
  a.o-btn {
    font-size: 14px;
  }
}

img.img-full-responsive {
  display: block;
  margin: 0 auto;
  width: 100%;
}
img.img-responsive {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

ul li {
  list-style: none;
}

span {
  font-size: inherit;
  color: inherit;
}

strong {
  font-size: inherit;
  font-family: inherit;
}

.o-container {
  width: 95%;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.o-container::before, .o-container::after {
  display: table;
  content: "";
  clear: both;
}
.o-container-fluid {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}
.o-container-fluid .o-grid-row .col {
  padding: 0;
}

.o-grid-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.o-grid-row.no-padding .col {
  padding: 0;
}
.o-grid-row.row-stretch {
  display: flex;
  align-items: stretch;
}
.o-grid-row.row-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.o-grid-row.row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.o-grid-row.row-reverse {
  display: flex;
  flex-flow: row-reverse;
}
.o-grid-row.row-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.o-grid-row .col {
  width: auto;
  padding: 0 10px;
}
.o-grid-row .col.size-12 {
  width: 100%;
}
.o-grid-row .col.size-11 {
  width: 91.66666667%;
}
.o-grid-row .col.size-10 {
  width: 83.33333333%;
}
.o-grid-row .col.size-9 {
  width: 75%;
}
.o-grid-row .col.size-8 {
  width: 66.66666667%;
}
.o-grid-row .col.size-7 {
  width: 58.33333333%;
}
.o-grid-row .col.size-6 {
  width: 50%;
}
.o-grid-row .col.size-5 {
  width: 41.66666667%;
}
.o-grid-row .col.size-4 {
  width: 33.33333333%;
}
.o-grid-row .col.size-3 {
  width: 25%;
}
.o-grid-row .col.size-2 {
  width: 16.66666667%;
}
.o-grid-row .col.size-1 {
  width: 8.33333333%;
}

@media (max-width: 740px) {
  .o-grid-row .col.size-sm-6 {
    width: 50%;
  }
  .o-grid-row .col.size-sm-12 {
    width: 100%;
  }
}
@media (max-width: 568px) {
  .o-grid-row .col.size-xs-6 {
    width: 50%;
    padding: 0 0;
  }
  .o-grid-row .col.size-xs-12 {
    width: 100%;
    padding: 0 0;
  }
}
.mainmenu {
  padding: 10px 0;
}
.mainmenu--nav {
  display: flex;
  align-items: center;
}
.mainmenu--logo {
  width: 100%;
  max-width: 233px;
  display: block;
}
@media (min-width: 960px) and (max-width: 1140px) {
  .mainmenu--logo {
    max-width: 150px;
  }
}
@media (min-width: 740px) and (max-width: 960px) {
  .mainmenu--logo {
    max-width: 120px;
  }
}
@media (max-width: 740px) {
  .mainmenu--logo {
    max-width: 150px;
  }
}
.mainmenu--logo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.mainmenu--firstlevel {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 960px) {
  .mainmenu--firstlevel {
    max-width: 850px;
    margin-left: auto;
  }
}
@media (min-width: 960px) and (max-width: 1140px) {
  .mainmenu--firstlevel {
    max-width: 700px;
  }
}
@media (min-width: 740px) and (max-width: 960px) {
  .mainmenu--firstlevel {
    max-width: 550px;
    margin-left: auto;
  }
}
@media (max-width: 740px) {
  .mainmenu--firstlevel {
    width: 40%;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 100;
    position: fixed;
    background-color: white;
    display: block;
    padding-top: 30px;
    border-left: 1px solid #ccc;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 30px;
    padding-top: 60px;
    display: none;
  }
}
@media (max-width: 568px) {
  .mainmenu--firstlevel {
    width: 60%;
  }
}
@media (max-width: 380px) {
  .mainmenu--firstlevel {
    width: 100%;
  }
}
.mainmenu--firstlevel.open-in-mobile {
  display: block;
}
.mainmenu--firstlevel-li {
  width: 100%;
  text-align: center;
}
@media (max-width: 740px) {
  .mainmenu--firstlevel-li {
    text-align: left;
    margin-bottom: 20px;
    padding-left: 30px;
  }
}
.mainmenu--firstlevel-a {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
  display: inline-block;
}
.mainmenu--firstlevel-a:hover {
  color: #ef6148;
}
@media (min-width: 740px) and (max-width: 960px) {
  .mainmenu--firstlevel-a {
    font-size: 10px;
  }
}
.mainmenu--cotizacion a {
  display: block;
  background-color: #0a3e6b;
  border-color: #0a3e6b;
  border-radius: 8px;
  width: 180px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: white;
  text-transform: uppercase;
}
@media (min-width: 740px) and (max-width: 960px) {
  .mainmenu--cotizacion a {
    width: 150px;
    font-size: 10px;
    height: 30px;
    line-height: 30px;
  }
}
@media (max-width: 740px) {
  .mainmenu--cotizacion a {
    margin: 50px auto 0;
  }
}
.mainmenu--secondlevel {
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  padding: 20px 30px 30px;
  text-align: left;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 740px) {
  .mainmenu--secondlevel {
    padding: 10px 0px;
    transform: none;
    position: relative;
    display: block;
    margin-left: 15px;
  }
}
.mainmenu--secondlevel.show-menu {
  display: flex;
}
@media (max-width: 740px) {
  .mainmenu--secondlevel.show-menu {
    display: flex;
    position: relative;
    transform: unset;
  }
}
.mainmenu--secondlevel-li {
  width: 100%;
}
@media (min-width: 960px) {
  .mainmenu--secondlevel-li {
    margin-bottom: 20px;
    max-width: 18%;
  }
}
@media (min-width: 740px) and (max-width: 960px) {
  .mainmenu--secondlevel-li {
    margin-bottom: 20px;
    max-width: 20%;
    padding: 0 5px;
  }
}
.mainmenu--secondlevel-a {
  color: #0a3e6b;
  font-size: 16px;
  font-weight: 600;
}
.mainmenu--secondlevel-a:hover {
  text-decoration: underline;
}
@media (min-width: 960px) and (max-width: 1140px) {
  .mainmenu--secondlevel-a {
    font-size: 13px;
  }
}
@media (min-width: 740px) and (max-width: 960px) {
  .mainmenu--secondlevel-a {
    font-size: 12px;
  }
}
@media (max-width: 740px) {
  .mainmenu--secondlevel-a {
    font-size: 13px;
  }
}
.mainmenu--thirdlevel {
  margin-top: 10px;
}
@media (max-width: 740px) {
  .mainmenu--thirdlevel {
    margin: 10px 0 20px;
  }
}
.mainmenu--thirdlevel-li {
  margin-bottom: 5px;
}
.mainmenu--thirdlevel-li:last-child {
  margin-bottom: 0;
}
.mainmenu--thirdlevel-a {
  display: block;
  font-size: 13px;
  min-height: 23px;
  line-height: 23px;
  padding-left: 10px;
  position: relative;
  background-color: white;
  transition: all 0.1s linear;
}
@media (min-width: 960px) and (max-width: 1140px) {
  .mainmenu--thirdlevel-a {
    font-size: 12px;
  }
}
@media (min-width: 740px) and (max-width: 960px) {
  .mainmenu--thirdlevel-a {
    font-size: 11px;
  }
}
@media (max-width: 740px) {
  .mainmenu--thirdlevel-a {
    font-size: 11px;
  }
}
.mainmenu--thirdlevel-a:hover {
  background-color: #ededed;
}
.mainmenu--thirdlevel-a .triangle-bullet {
  display: inline-block;
  border-left: 3px solid black;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  left: 0;
  top: calc(50% - 3px);
}
.mainmenu--openmenu {
  display: none;
}
@media (max-width: 740px) {
  .mainmenu--openmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 50px;
    height: 50px;
    margin-left: auto;
    position: relative;
    z-index: 101;
  }
  .mainmenu--openmenu span {
    position: relative;
    display: block;
    width: 60%;
    height: 3px;
    background-color: #0a3e6b;
    margin: 0 auto;
  }
  .mainmenu--openmenu span.top-bar {
    top: -6px;
  }
  .mainmenu--openmenu span.bottom-bar {
    bottom: -6px;
  }
  .mainmenu--openmenu span.cross-bar {
    opacity: 0;
    top: -3px;
  }
}

.mainfooter {
  background-color: #0a3e6b;
  padding: 50px 0 0;
}
@media (max-width: 568px) {
  .mainfooter {
    padding: 30px 20px 0;
  }
}
.mainfooter--grid {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 568px) {
  .mainfooter--grid {
    display: block;
  }
}
.mainfooter--logo {
  width: 100%;
  max-width: 155px;
}
@media (max-width: 568px) {
  .mainfooter--logo {
    margin: 0 0 30px;
  }
}
.mainfooter--logo img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.mainfooter--menu {
  width: 100%;
  max-width: 25%;
}
@media (max-width: 568px) {
  .mainfooter--menu {
    max-width: 100%;
    margin: 0 0 30px;
  }
  .mainfooter--menu:last-child {
    margin-bottom: 0;
  }
}
.mainfooter--menu h3 {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 15px;
}
.mainfooter--menu ul li {
  font-size: 14px;
  margin: 0 0 7px;
}
.mainfooter--menu ul li:last-child {
  margin-bottom: 0;
}
.mainfooter--menu ul li a {
  position: relative;
  font-size: inherit;
  color: white;
  opacity: 0.7;
  left: 0;
  transition: all 0.1s linear;
}
.mainfooter--menu ul li a:hover {
  opacity: 1;
  left: 3px;
  text-decoration: underline;
}
.mainfooter--subfoot {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 100px 0 30px;
}
@media (max-width: 568px) {
  .mainfooter--subfoot {
    display: block;
    padding: 50px 0 25px;
  }
}
.mainfooter--p {
  width: 100%;
  margin-right: auto;
  font-size: 12px;
  color: white;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 568px) {
  .mainfooter--p {
    width: 100%;
    text-align: center;
    line-height: 1.75;
  }
  .mainfooter--p a {
    display: block;
    text-decoration: underline;
    margin: 5px 0 0;
  }
}
.mainfooter--p a {
  transition: all 0.1s linear;
}
.mainfooter--p a:hover {
  color: white;
  text-decoration: underline;
}
.mainfooter--social {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 200px;
}
@media (max-width: 568px) {
  .mainfooter--social {
    margin-top: 50px;
    max-width: 100%;
    justify-content: center;
  }
}
.mainfooter--social a {
  display: block;
  margin: 0 10px;
  background: red;
}
.mainfooter--social a img {
  display: block;
  width: 15px;
}
/*# sourceMappingURL=maps/mainstyle.css.map */
