.mainfooter
  .o-container
    .mainfooter--grid
      .mainfooter--logo
        img(src="../images/logo-codificarlos-white.png" alt="Codificarlos")
      .mainfooter--menu
        h3 Enlaces de interes
        ul
          li
            a(href="#!") Enlace 1
          li
            a(href="#!") Enlace 2
          li
            a(href="#!") Enlace 3
          li
            a(href="#!") Enlace 4
      .mainfooter--menu
    .mainfooter--subfoot
      .mainfooter--p Codificarlos S.A. de C.V. 2023 Todos los derechos reservados. <a href="#!" target="_blank">Aviso de Privacidad</a> 
      //- .mainfooter--social
      //-   .social-tw
      //-   .social-fb
      //-   .social-in
      //-   .social-yt