header.mainmenu
  div.o-container
    nav.mainmenu--nav
      a.mainmenu--logo(href="#!")
        img(src="../images/logo-codificarlos-dark.png" alt="Codificarlos")
      div.mainmenu--openmenu
        span.top-bar
        span.middle-bar
        span.bottom-bar
        span.cross-bar
      ul.mainmenu--firstlevel
        li.mainmenu--firstlevel-li
          a.mainmenu--firstlevel-a(href="#!") Enlace de interes
          ul.mainmenu--secondlevel
            li.mainmenu--secondlevel-li
              a.mainmenu--secondlevel-a(href="#!") Enlace Padre 1
              ol.mainmenu--thirdlevel
                li.mainmenu--thirdlevel-li
                  a.mainmenu--thirdlevel-a(href="#!")
                    span.triangle-bullet
                    span Enlace hijo 1 
                li.mainmenu--thirdlevel-li
                  a.mainmenu--thirdlevel-a(href="#!")
                    span.triangle-bullet
                    span Enlace hijo 2 
                li.mainmenu--thirdlevel-li
                  a.mainmenu--thirdlevel-a(href="#!")
                    span.triangle-bullet
                    span Enlace hijo 3 
        li.mainmenu--firstlevel-li
          a.mainmenu--firstlevel-a(href="#!") Algo
        li.mainmenu--firstlevel-li
          a.mainmenu--firstlevel-a(href="#!") Algo mas                    